#priority-Low{
   
    background-color: #81da9b;
    color: #2b7b38;
    
}
#priority-Medium{
   
    background-color: #FBDF72;
    color: #a27604;
    
}
#priority-High{
   
    background-color: #F6A899;
    color: #c7310c;
    
}
#status-Not_Started{

    background-color: #B1F5F0;
    color: #4b8387;
    
}
#status-In_Progress{

    background-color: #F8BD6D;
    color: #977342;
    
}
#status-Completed{

    background-color: #98E1AD;
    color: #2C7F3A;
    
}


.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
}

.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
}

.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar + .avatar {
    margin-left: -1rem;
}


